{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Endereço do Paciente</h1>
        {% bootstrap_messages %}

        <form action="{% url 'endereco' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %} <!-- aplica chave token para segurança da pagina contra interceptação de dados -->
            {% bootstrap_form form %}
            {% buttons %}
                <a href="http://127.0.0.1:8000/paciente" class="btn btn-default"><<< Anterior <<<</a>
                <button type="submit" class="btn btn-primary">Salvar Endereço</button>
                <a href="http://127.0.0.1:8000/contato" class="btn btn-default">>>> Próximo >>></a>
            {% endbuttons %}

        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>