{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Paciente</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1>Cadastro de Paciente</h1>
        {% bootstrap_messages %}

        <form action="{% url 'paciente' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %} <!-- aplica chave token para segurança da pagina contra interceptação de dados -->
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Cadastrar Paciente</button>
                <a href="http://127.0.0.1:8000/endereco" class="btn btn-default">>>> Próximo >>></a>
            {% endbuttons %}


        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>